.swipeButtons {
    display: flex;
    position: fixed;
    bottom: 5vh;
    width: 100%;
    justify-content: space-evenly;
    /* margin-top: 5vh; */

}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
    position: relative;

}

.swipeButtons__repeat {
    padding: 3vw !important;
    color: #FFE15D !important;
    position: absolute;
    bottom: 0;
}

.swipeButtons__left {
    padding: 3vw !important;
    color: #FFADBC !important;
}

.swipeButtons__star {
    padding: 3vw !important;
    color: #59C1BD !important;
}

.swipeButtons__right {
    padding: 3vw !important;
    color: #A0E4CB !important;
}


.swipeButtons__lightning {
    padding: 3vw !important;
    color: #C539B4 !important;
}