.tenderCards {
    height: 90vh;
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.card {
    position: relative;
    background-color: white;
    width: 600px;
    padding: 20px;
    max-width: 86vw;
    height: 60vh;
    box-shadow: 0px 18px 53px 0 rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

.cardContent {
    width: 100%;
    height: 100%
}

.swipe {
    position: absolute;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: white;
}